{% extends 'base.html' %}

{% load static %}


{% block go %}


{% for i in q %}
 
<div class="column">

<div class="card" style="width: 18rem;">
  <img src="{{ i.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.Name}}</h5>
    <p class="card-text">{{i.experience}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{i.skill}}</li>
    <li class="list-group-item">webframe : Django</li>
    <li class="list-group-item">{{i.tools}}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'read' i.id %}" class="card-link">Read</a>
    <a href="{% url 'delete' i.id %}" class="card-link">delete</a>
    <a href="{% url 'update' i.id %}" class="card-link">post</a>
  </div>
</div>  
</div>


{% endfor %}




{% endblock go %}